:root {
  line-height: 1.5;
  font-weight: 400;

  /* Define RC8 font variables */
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  place-items: center;
  padding: 0 !important;
  overflow-y: scroll !important;
}
